/*General Body Styling*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #416cea;
}

/* Start Menu */
#menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu button {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #416cea;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Game Area */
#game-container {
  margin: 1em;
}

/* Connect 4 Board */
.grid-row {
  display: flex;
}
.grid-box {
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
}
.grid-box.filled.redPlayer { background: red; }
.grid-box.filled.yellowPlayer { background: yellow; }

#playerTurn, #message { 
  margin: 10px 0; 
  font-size: 18px; 
}

#controls {
  margin-top: 10px;
}
#controls button {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.80em 1.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #416cea;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


/* Lucky Pig Board */
.player-container {
  display: grid;
  height: 10em;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 3em;
}

.player_active h2 {
  text-decoration: underline;
  
}

.btn_roll, .btn_hold, .btn_new, .btn_back {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #416cea;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* 3D Dice Styles */
.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1s ease;
}


@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
    background: linear-gradient(
      145deg, #dddbd8, #fff);
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
}

.back::after {
  margin: -35px 0 0 -35px;
  box-shadow: 40px 0,
              0 25px,
              40px 25px,
              0 50px,
              40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px,
              52px 52px,
              52px 0,
              0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0,
              0 40px,
              40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px,
              50px 50px;
}

/* Tic Tac Toe Board */
h2, p {
  text-align: center;
  color: #000;
  margin-bottom: 1em;
}

#reset, #backToMenu {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.80em 1.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #416cea;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}